.form-control.score-container {
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}
.score-container svg{
    width: 7.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: 0.3s;
    fill: #555;
}

.score-container svg:hover{
    fill: #7076f4;
}
.score-container input:checked ~ svg {
    fill: #7076f4;
    
}

.radio-container {
    text-align: center;
    position: relative;
}

.radio-container input{
    opacity: 0;
    position: absolute;
    top: 60px;
    left: 200px;
}
.radio-container p{
    font-style: italic;
    font-weight: 300;
    font-size: 0.7rem;
    margin-top: 0.4rem;
}