.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 350px;
  height: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 
.container {
  padding: 2px 16px;
}
.fotos{
  width: 100%;
}
.corpo-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
}