.cabecalho{
    height: 75px;
    background-image: linear-gradient( rgba(0, 255, 255, 0.8),rgba(186, 255, 255, 0.6), rgba(221, 247, 253, 0.4));
    box-shadow: rgba(255, 255, 255, 1) 0px -23px 28px 0px inset;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.244);
    display: flex;
    align-items: center;
}
.menuNavegacao ul{
    display: flex;
    align-items: center;
}
.menuNavegacao{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
} 
.logoSite{
    width: 50px;
    padding-left: 30px;
}
.menuNavegacao ul li{
    list-style: none;
    margin: 0 auto;
    display:inline-block ;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
}
  
.menuNavegacao li a{
    color: black;
}
  
.menuNavegacao li a:hover{
    color: white;
}
  
.menuNavegacao li:hover{
    cursor: pointer;
}
  
.menuNavegacao ul li ul{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
    z-index: 2;
    border-radius: 5px;
}
  
.menuNavegacao ul li:hover > ul,
.menuNavegacao ul li ul:hover{
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
}
  
.menuNavegacao ul li ul li{
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
    transition: all 0.5s ease;
}

.menuNavegacao ul li ul li:hover{
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
}
.menuNavegacao a{
    text-decoration: none;
}
.logoDudu {
    height: 55px;
}